.ulfondo {
    display: block;
    width: 100%;
    height: inherit;
}

.ulfondo {
    list-style-type: none;
}

.lifondo:nth-child(1) {
    position: absolute;
    left: 10%;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, .2);
}

.lifondo:nth-child(2) {
    position: absolute;
    left: 40%;
    height: 45px;
    width: 45px;
    background: rgba(255, 255, 255, .2);
}

.lifondo:nth-child(3) {
    position: absolute;
    left: 60%;
    height: 70px;
    width: 70px;
    background: rgba(255, 255, 255, .2);
}

.lifondo:nth-child(4) {
    position: absolute;
    left: 90%;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, .2);
}

.lifondo {
    animation: animate 10s linear 1s infinite;
}

@keyframes animate {
    from {
        transform: translateY(+1500%) rotate(180deg)
    }

    to {
        transform: translateY(-150%) rotate(360deg)
    }
}