.logo-slider {
    overflow: hidden;
    padding: 30px 0 0 0;
    white-space: nowrap;
    position: relative;
    margin-top: 25px;
  }
  
  .logo-slider:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-flex;
    animation: 45s slide infinite linear;
  }
  
  .icon-container {
    width: 100px; /* Ajusta según sea necesario */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
