
.NameEfection {
  display: flex;
  height: 100%;
}

#svg {
  position: relative;
  font: 2.1em 'Montserrat', sans-serif;
  width: 960px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-copy {
  fill: none;
  stroke: rgb(85, 244, 194);
  stroke-dasharray: 6% 29%;
  stroke-width: 1px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #7cef65; /* Blanco */
  animation-delay: -1s;
}

.text-copy:nth-child(2) {
  stroke:  #89c9f7;/* Mantis (verde suave) */
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #f9e428; /* Amethyst (púrpura intenso) */
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #ffffff; /* Wattle (amarillo cálido) */
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #74f85a; /* Purple Heart (morado vibrante) */
  animation-delay: -5s;
}


@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
