.shimmer {
    font-weight: 300;
    font-size: 1.5em;
    padding: 0 1px 0 0;
    display: inline;
    font-weight: bold !important;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: linear-gradient(
      to right,
      #544de0, /* Base color */
      #7161fd, /* Lighter tone */
      #3531bd, /* Darker tone */
      #524bd4 /* Base color */
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-animation: shimmer 2s linear infinite;
    animation: shimmer 2s linear infinite;
    background-color: #222;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  