
.NameEfection {
  display: flex;
  height: 100%;
}

#svg {
  position: relative;
  font: 2.1em 'Montserrat', sans-serif;
  width: 960px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}


.text-copy {
  fill: none;
  stroke: rgb(27, 207, 150);
  stroke-dasharray: 6% 29%;
  stroke-width: .5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #7cef65; /* Blanco */
  animation-delay: -1s;
}

.text-copy:nth-child(2) {
  stroke:  #69bffc;/* Mantis (verde suave) */
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #f3e035; /* Amethyst (púrpura intenso) */
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #FFFFFF; /* Wattle (amarillo cálido) */
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #7cef65; /* Purple Heart (morado vibrante) */
  animation-delay: -5s;
}


@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
