main {
    margin-top: 64px; /* Ajusta esto según la altura de tu navbar */
  }

.contendor{
  background-color: aqua;
  border-radius: 5px;
  color: black;
}
.cajabotina{
  background-color: blue;
  border-radius: 5px;
  color: white;
}
  