@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* height: 100vh; */
  min-height: 100vh;  
  background: #eee;
}

/* width */
::-webkit-scrollbar { 
  width: 5px;
  height: 5px;
} 

/* Track */
::-webkit-scrollbar-track { 
  background: #64748b29; 
} 

/* Handle */
::-webkit-scrollbar-thumb { 
  background: #0066e298; 
  border-radius: 5px; 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
  background: #168effbe; 
}
