@tailwind base;
@tailwind components;
@tailwind utilities;




/* Aplica un estilo específico al canvas creado */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Asegura que el canvas quede visible */
  pointer-events: none;
  filter: brightness(1); /* Cambia el color de las partículas a negro */
}
