@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* 🎨 Canvas de partículas */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Asegura que el canvas quede visible */
  pointer-events: none;
  filter: brightness(1);
}

